<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Evolution</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/alerts-routines.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/evolution.css'/>
</head>

<body>

<div class="container">

    <div w3-include-html="/html/fr/header.html"></div>

    <div class="sub-container non-alerts">
        <div class="title">
            <span class="title-text">Balance: </span><span id="amount" class="title-data"></span>
            <span class="title-text"> <%= fiat_symbol %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Variation: </span>
            <span id="variation" class="title-data"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="sizeup" class="sizeup">A</span>&nbsp;<span id="sizedown" class="sizedown">A</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title-text" id="date"></span>&nbsp;&nbsp;
            <input type="checkbox" id="dontShowlower"/><span class="title-text">Cacher montant < 1 <%= fiat_symbol %></span>
        </div>

        <table id="cryptos" class="styled-table">
            <thead>
            <th class="title-left clickable" onclick="sortTable('name')">Crypto</th>
            <th class="title-left clickable" onclick="sortTable('symbol')">Symbole</th>
            <th class="num clickable" onclick="sortTable('start_price')">Cours <%= fiat_symbol %> achat</th>
            <th class="num clickable" onclick="sortTable('start_price_usdt')">Cours USDT achat</th>
            <th class="num clickable" onclick="sortTable('quotation')">Cours <%= fiat_symbol %></th>
            <th class="num clickable" onclick="sortTable('quotation_usdt')">Cours USDT</th>
            <th class="num clickable" onclick="sortTable('tokens')">Tokens</th>
            <th class="num clickable" onclick="sortTable('value')">Valeur <%= fiat_symbol %></th>
            <th class="clickable" onclick="sortTable('variation')">Evol./achat</th>
            <th class="clickable" onclick="sortTable('variation_on_five_minutes')">Evol./5mn</th>
            <th class="clickable" onclick="sortTable('variation_on_one_hour')">Evol./1h</th>
            <th class="clickable" onclick="sortTable('variation_on_one_day')">Evol./24h</th>
            <th class="clickable" onclick="sortTable('variation_on_one_week')">Evol./sem</th>
            <th class="clickable" onclick="sortTable('wallet')">Wallet</th>
            <th class="clickable generalAlert"></th>
            <th></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="sub-container cont-border alerts">
        <div class="title-alerts one_token">Alerte pour le token <span id="alert_token"></span></div>
        <div class="title-alerts all_token">Alerte pour tous les tokens</div>
        <div class="text">
            <span>Envoyer une alerte si la variation du prix du token :</span>
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_5mn">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_5mn">% en 5 minutes.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1h">% ou a perdu<input
                    class="percent" type="number" id="alert_lt_1h">% en 1 heure.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_24h">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_24h">% en 1 jour.
        </div>
        <div class="input">
            a dépassé <input class="percent" type="number" id="alert_gt_1w">% ou a perdu <input
                    class="percent" type="number" id="alert_lt_1w">% en 1 semaine.
        </div>
        <div class="text-mini">
            <span><i>Laisser à blanc les champs à ne pas prendre en compte</i></span>
        </div>
        <div class="button-bloc">
            <div>
                <input type="button" class="button" id="alertDel" onclick="delAlert();return false;" value="Supprimer">
            </div>
            <div>
                <input type="button" class="button" id="alertCancel" onclick="cancelAlert();return false;"
                       value="Annuler">
            </div>
            <div>
                <input type="button" class="button" id="alertAdd" onclick="addOrUpdateAlert();return false;"
                       value="Enregistrer">
            </div>
        </div>
        <div class="one_token dontfollow">
            <input type="checkbox" name="dontfollow" id="dontFollow"/><span>Ne pas/plus suivre</span>
        </div>
        <div class="text-mini">
            Une alerte sur un token particulier prévaut sur une alerte globale.
        </div>
    </div>
</div>
</body>

<script src="/javascripts/evolution.js"></script>

<script type="text/javascript">

    let ds = "<%= decimal_separator %>";
    let refresh = "<%= refresh %>";
    let titleGenAlert1 = "Voir ou changer l'alerte globale";
    let titleGenAlert2 = "Mettre une alerte globale";
    let titleBuildAlert1 = "Voir ou changer l'alerte sur";
    let titleBuildAlert2 = "Mettre une alerte sur";
    let infoICO = "ICO ou pas encore listé ou non déclaré dans l'onglet Cryptos";

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('fr-FR');
    }

    $(() => {
        init()
    })
</script>

</html>

