<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Info token</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/lightweight-charts.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/token-info.css'/>
</head>
<body>
<div id="container" class="container">

    <div w3-include-html="/html/fr/header.html"></div>

    <div class="subcontainer">

        <table id="tokenInfoTable" class="styled-table">
            <tbody>
            <tr>
                <td colspan="2"><img src="<%= data.info.image %>" class="icon2"></td>
            </tr>
            <tr>
                <td>Identifiant</td>
                <td><%= data.info.id %></td>
            </tr>
            <tr>
                <td>Symbole</td>
                <td><%= data.info.symbol %></td>
            </tr>
            <tr>
                <td>Nom</td>
                <td><%= data.info.name %></td>
            </tr>
            <tr>
                <td>Cotation actuelle</td>
                <td><%= data.info.current_price %></td>
            </tr>
            <tr>
                <td>Capitalisation de marché (MC)</td>
                <td><%= data.info.market_cap %></td>
            </tr>
            <tr>
                <td>Rang dans la capitalisation de marché</td>
                <td><%= data.info.market_cap_rank %></td>
            </tr>
            <tr>
                <td>Valorisation totale (FDV)</td>
                <td><%= data.info.fully_diluted_valuation %></td>
            </tr>
            <tr>
                <td>Volume total</td>
                <td><%= data.info.total_volume %></td>
            </tr>
            <tr>
                <td>Cotation la plus haute sur 24h</td>
                <td><%= data.info.high_24h %></td>
            </tr>
            <tr>
                <td>Cotation la plus basse sur 24h</td>
                <td><%= data.info.low_24h %></td>
            </tr>
            <tr>
                <td>Variation sur 24h</td>
                <td><%= data.info.price_change_24h %> (<%= data.info.price_change_percentage_24h %> %)</td>
            </tr>
            <tr>
                <td>Variation de la capitalisation de marché sur 24h</td>
                <td><%= data.info.market_cap_change_24h %> (<%= data.info.market_cap_change_percentage_24h %> %)</td>
            </tr>
            <tr>
                <td>Offre en circulation</td>
                <td><%= data.info.circulating_supply %></td>
            </tr>
            <tr>
                <td>Offre totale</td>
                <td><%= data.info.total_supply %></td>
            </tr>
            <tr>
                <td>Offre maximum</td>
                <td><%= data.info.max_supply %></td>
            </tr>
            <tr>
                <td>Maximum atteint ATH</td>
                <td><%= data.info.ath %> (<%= data.info.ath_change_percentage %> %)</td>
            </tr>
            <tr>
                <td>Date du maximum atteint</td>
                <td><%= data.info.ath_date %></td>
            </tr>
            <tr>
                <td>Minimum atteint ATL</td>
                <td><%= data.info.atl %> (<%= data.info.atl_change_percentage %> %)</td>
            </tr>
            <tr>
                <td>Date du minimum atteint</td>
                <td><%= data.info.atl_date %></td>
            </tr>
            <tr>
                <td>Dernière mise à jour</td>
                <td><%= data.info.last_updated %></td>
            </tr>
            </tbody>
        </table>

        <div class="div-buttons">
            <div class="button-box">
                <input type="button" class="button" id="returnButton" value="Retour">
            </div>
            <div class="button-box">
                <input type="button" class="button" id="graphButtonHour" value="Graphique par heure (90j)">
            </div>
            <div class="button-box">
                <input type="button" class="button" id="graphButtonDay" value="Graphique par jour (1 an)">
            </div>
        </div>
        <div id="graph-container" class="graph-container">
            <div class="graph-title-container"><span id="graph-title"></span></div>
            <div id="graph"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/javascripts/token-info.js"></script>

<script>

    let tokenId = "<%= data.info.id %>";
    let returnUrl = "<%= data.returnUrl %>";
    let header = "<%= data.header %>";
    let graphTitleHour = "Prix/Volume sur 90 jours, par heure";
    let graphTitleDay = "Prix/Volume sur 1 an, par jour";
    let errorGraph = "Graphique non disponible. Vérifier sur l'API Coingecko est déclarée dans default.json (voir README)";

    $(() => {
        init()
    })

</script>
</body>
