<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Add transactions</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/add-or-update-transactions.css'/>
</head>
<body>

<div class="container">

    <div w3-include-html="/html/en/header.html"></div>

    <div id="container" class="sub-container">

        <form id="form">

            <div class="input top">
                <label for="type">Type </label>
                <select name="type" id="type">
                    <option value="purchase">Purchase</option>
                    <option value="sale">Sale</option>
                    <option value="swap">Swap</option>
                    <option value="send">Send</option>
                </select>
            </div>

            <!-- PURCHASE -->
            <div id="purchaseContainer" class="show">
                <div class="input">
                    <label for="purchaseDate">Date </label>
                    <input type="button" class="button-inline" onclick="setCurrentDate('purchase');" value="Now">
                    <div>
                        <input type="date" name="purchaseDate" id="purchaseDate" required="required"
                               value="<%= purchaseDate %>">
                        <input type="time" name="purchaseTime" id="purchaseTime" step="1"
                               value="<%= purchaseTime %>">
                    </div>
                </div>
                <div class="input">
                    <div>
                        <label for="purchaseTokenId">Token </label>
                        <select class="selectSymbolNode" id="purchaseTokenId" name="purchaseTokenId">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div>
                        <label for="purchaseTokenIdIco">or if not listed * </label>
                        <input type="text" id="purchaseTokenIdIco" name="purchaseTokenIdIco">
                    </div>
                </div>
                <div class="input">
                    <label for="purchaseTokenNumber"># tokens&nbsp;&nbsp;&nbsp; </label>
                    <input type="number" name="purchaseTokenNumber" step="0.00000001"
                           value="<%= purchaseTokenNumber %>">
                </div>
                <div class="input">
                    <label for="purchaseTokenQuotationInFiat">Token price (<%= fiat_symbol %>) </label>
                    <input type="number" name="purchaseTokenQuotationInFiat" step="0.00000001"
                           value="<%= purchaseTokenQuotationInFiat %>">
                </div>
                <div class="input">
                    <label for="purchaseFeeInFiat">Fee (<%= fiat_symbol %>) </label>
                    <input type="number" name="purchaseFeeInFiat" step="0.01" value="<%= purchaseFeeInFiat %>">
                </div>
                <div class="input">
                    <label for="purchaseWallet">Wallet </label>
                    <select class="selectWalletNode" name="purchaseWallet" id="purchaseWallet">
                    </select>
                </div>
            </div>

            <!-- SALE -->
            <div id="saleContainer" class="hide">
                <div class="input">
                    <label for="saleDate">Date </label>
                    <input type="button" class="button-inline" onclick="setCurrentDate('sale');" value="Now">
                    <div>
                        <input type="date" name="saleDate" id="saleDate" value="<%= saleDate %>">
                        <input type="time" name="saleTime" id="saleTime" step="1" value="<%= saleTime %>">
                    </div>
                </div>
                <div class="input">
                    <div>
                        <label for="saleTokenId">Token </label>
                        <select class="selectSymbolNode" id="saleTokenId" name="saleTokenId">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div>
                        <label for="saleTokenIdIco">or if not listed * </label>
                        <input type="text" id="saleTokenIdIco" name="saleTokenIdIco">
                    </div>
                </div>
                <div class="input">
                    <label for="saleTokenNumber"># tokens&nbsp;&nbsp;&nbsp;</label>
                    <input type="number" name="saleTokenNumber" id="saleTokenNumber" step="0.00000001"
                           value="<%= saleTokenNumber %>">
                </div>
                <div class="input">
                    <label for="saleTokenQuotationInFiat">Token price (<%= fiat_symbol %>) </label>
                    <input type="number" name="saleTokenQuotationInFiat" id="saleTokenQuotationInFiat"
                           step="0.00000001" value="<%= saleTokenQuotationInFiat %>">
                </div>
                <div class="input">
                    <label for="saleFeeInFiat">Fee (<%= fiat_symbol %>) </label>
                    <input type="number" name="saleFeeInFiat" step="0.01" value="<%= saleFeeInFiat %>">
                </div>
                <div class="input">
                    <label for="saleWallet ">Wallet </label>
                    <select class="selectWalletNode" name="saleWallet" id="saleWallet">
                    </select>
                </div>
            </div>

            <!-- SWAP -->
            <div id="swapContainer" class="hide">
                <div class="input">
                    <label for="swapDate">Date </label>
                    <input type="button" class="button-inline" onclick="setCurrentDate('swap');" value="Now">
                    <div>
                        <input type="date" name="swapDate" id="swapDate" value="<%= swapDate %>">
                        <input type="time" name="swapTime" id="swapTime" step="1" value="<%= swapTime %>">
                    </div>
                </div>
                <div class="col2">
                    <!-- Output of swap -->
                    <div>
                        <div class="input">
                            <div>
                                <label for="swapOutputTokenId">Token </label>
                                <select class="selectSymbolNode select-right" id="swapOutputTokenId" name="swapOutputTokenId">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div>
                                <label for="swapOutputTokenIdIco">or if not listed *</label>
                                <input type="text" id="swapOutputTokenIdIco" name="swapOutputTokenIdIco">
                            </div>
                        </div>
                        <div class="input">
                            <label for="swapOutputTokenNumber"># tokens&nbsp;&nbsp;&nbsp;</label>
                            <input type="number" name="swapOutputTokenNumber" step="0.00000001"
                                   value="<%= swapOutputTokenNumber %>">
                        </div>
                        <div class="input">
                            <label for="swapOutputTokenQuotation">Quotation </label>
                            <input type="number" name="swapOutputTokenQuotation" step="0.00000001"
                                   value="<%= swapOutputTokenQuotation %>">
                        </div>
                        <div class="input">
                            <label for="swapOutputTokenQuotationCurrency">Quotation currency &nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="swapOutputTokenQuotationCurrency"
                                   value="<%= swapOutputTokenQuotationCurrency %>">
                        </div>
                    </div>
                    <div class="arrow-box">
                        <span class="arrow">&#9654;</span>
                    </div>
                    <!-- Input of swap -->
                    <div>
                        <div class="input">
                            <div>
                                <label for="swapInputTokenId">Token </label>
                                <select class="selectSymbolNode select-right" id="swapInputTokenId" name="swapInputTokenId">
                                    <option value="">Select</option>
                                </select>
                            </div>
                            <div>
                                <label for="swapInputTokenIdIco">or if not listed *</label>
                                <input type="text" id="swapInputTokenIdIco" name="swapInputTokenIdIco">
                            </div>
                        </div>
                        <div class="input">
                            <label for="swapInputTokenNumber"># tokens &nbsp;&nbsp;&nbsp;</label>
                            <input type="number" name="swapInputTokenNumber" step="0.00000001"
                                   value="<%= swapInputTokenNumber %>">
                        </div>
                        <div class="input">
                            <label for="swapInputTokenQuotation">Quotation </label>
                            <input type="number" name="swapInputTokenQuotation" step="0.00000001"
                                   value="<%= swapInputTokenQuotation %>">
                        </div>
                        <div class="input">
                            <label for="swapInputTokenQuotationCurrency">Quotation currency &nbsp;&nbsp;&nbsp;</label>
                            <input type="text" name="swapInputTokenQuotationCurrency"
                                   value="<%= swapInputTokenQuotationCurrency %>">
                        </div>

                    </div>
                </div>

                <div>
                    <div class="input">
                        <label for="swapFee">Fee </label>
                        <input type="number" name="swapFee" step="0.00000001" value="<%= swapFee %>">
                    </div>
                    <div class="input">
                        <label for="swapFeeCurrencyOpt">Fee currency </label>
                        <input type="text" name="swapFeeCurrencyOpt" value="<%= swapFeeCurrencyOpt %>">
                    </div>
                    <div class="input">
                        <label for="swapWallet">Wallet </label>
                        <select class="selectWalletNode" name="swapWallet">
                        </select>
                    </div>
                </div>
            </div>

            <!-- SEND so RECEIVE -->
            <div id="sendContainer" class="hide">
                <div class="input">
                    <label for="sendDate">Date </label>
                    <input type="button" class="button-inline" onclick="setCurrentDate('send');" value="Now">
                    <div>
                        <input type="date" name="sendDate" id="sendDate" value="<%= sendDate %>">
                        <input type="time" name="sendTime" id="sendTime" step="1" value="<%= sendTime %>">
                    </div>
                </div>
                <div class="input">
                    <div>
                        <label for="sendTokenId">Token </label>
                        <select class="selectSymbolNode" id="sendTokenId" name="sendTokenId">
                            <option value="">Select</option>
                        </select>
                    </div>
                    <div>
                        <label for="sendTokenIdIco">or if not listed *</label>
                        <input type="text" id="sendTokenIdIco" name="sendTokenIdIco">
                    </div>
                </div>
                <div class="col2">
                    <div>
                        <div class="input">
                            <label for="sendTokenNumber"># Tokens &nbsp;&nbsp;&nbsp;</label>
                            <input type="number" name="sendTokenNumber" step="0.00000001"
                                   value="<%= sendTokenNumber %>">
                        </div>
                        <div class="input">
                            <label for="sendWallet">Wallet </label>
                            <select class="selectWalletNode" name="sendWallet" id="sendWallet">
                            </select>
                        </div>
                    </div>
                    <div class="arrow-box">
                        <span class="arrow">&#9654;</span>
                    </div>
                    <div>
                        <div class="input">
                            <label for="receiveTokenNumber"># Tokens &nbsp;&nbsp;&nbsp;</label>
                            <input type="number" name="receiveTokenNumber" step="0.00000001"
                                   value="<%= receiveTokenNumber %>">
                        </div>
                        <div class="input">
                            <label for="receiveWallet">Wallet </label>
                            <select class="selectWalletNode" name="receiveWallet" id="receiveWallet">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="input">
                    <label for="sendFee">Fee in tokens </label>
                    <input type="number" name="sendFee" step="0.00000001" value="<%= sendFee %>">
                </div>
                <div class="input">
                    <label for="sendFeeCurrencyOpt">Fee currency </label>
                    <input type="text" name="sendFeeCurrencyOpt" step="0.00000001" value="<%= sendFeeCurrencyOpt %>">
                </div>
                <div class="input">
                    <label for="sendCounterpart">Counterpart in <%= fiat_symbol %> </label>
                    <input type="number" name="sendCounterpart" step="0.01" value="<%= sendCounterpart %>">
                </div>

            </div>

            <div class="input label-top">
                <span class="tx-comm">If you know the ID of this transaction, you can enter it here depending on the token blockchain</span>
                <div>
                    <label for="chainExplorer">Chain </label>
                    <select id="chainExplorerOpt" name="chainExplorerOpt" class="tx-sel">
                        <option value="">Select</option>
                        <% chainExplorers.forEach( function (chain) { %>
                            <option value="<%= chain.name %>">
                                <%= chain.name %>
                            </option>
                        <% });%>
                    </select>
                    <label for="txId">Transaction # </label>
                    <input class="tx-chain-tx" type="text" id="txIdOpt" name="txIdOpt" value="<%= txIdOpt %>">
                </div>
            </div>

            <div class="input label-top">
                <label for="comment">Comment</label>
                <textarea id="comment" name="comment" rows="3" cols="60"><%= comment %></textarea>
                <input type="hidden" id="trid" name="trid">
                <input type="hidden" id="sortDirection" name="sortDirection">
                <input type="hidden" id="token" name="token">
                <input type="hidden" id="wallet" name="wallet">
                <input type="hidden" id="lang" name="lang">
            </div>
            <div>
                <span class="info">(*) For ICO, etc.</span>
            </div>
            <div class="button-box">
                <input class="button" type="button" name="cancel" id="cancel" value="Cancel">
                <input class="button" type="button" name="validation" id="validation" value="Validate">
            </div>

            <div>
                <span id="message" class="message"></span>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/add-or-update-transaction.js"></script>

<script>

    let typeTransaction = "<%= type %>";
    let trid = "<%= trid %>"
    let sortDirection = "<%= sortDirection %>"
    let token = "<%= token %>"
    let wallet = "<%= wallet %>"
    let lang = "<%= lang %>"
    let wallets = [];
    let symbols = [];
    let purchaseTokenId = "<%= purchaseTokenId %>";
    let purchaseWallet = "<%= purchaseWallet %>";
    let saleTokenId = "<%= saleTokenId %>";
    let saleWallet = "<%= saleWallet %>";
    let swapOutputTokenId = "<%= swapOutputTokenId %>";
    let swapInputTokenId = "<%= swapInputTokenId %>";
    let swapWallet = "<%= swapWallet %>";
    let sendTokenId = "<%= sendTokenId %>";
    let sendWallet = "<%= sendWallet %>";
    let receiveWallet = "<%= receiveWallet %>";

    let validateMsg = "Selection of token is invalid. One of the two fields must not be filled in";
    let coherenceMsg1 = "For swap, tokens must differ !";
    let coherenceMsg2 = "Wallets must differ !";
    let coherenceMsg3 = "If a blockchain is selected you must enter a transaction number and vice versa";
    let validateFieldsMsg = "At least one value is missing or invalid...";



    $(() => {
        init();
        document.querySelector('#chainExplorerOpt').value = "<%= chainExplorerOpt %>";
    })

</script>
</body>
</html>