<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Evolution</title>
    <script type="text/javascript" src="/javascripts/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/utils.js"></script>
    <script type="text/javascript" src="/javascripts/alerts-routines.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/all.min.css'/>
    <link rel='stylesheet' href='/stylesheets/evolution.css'/>
</head>

<body>

<div class="container">

    <div w3-include-html="/html/en/header.html"></div>

    <div class="sub-container non-alerts">
        <div class="title">
            <span class="title-text">Balance: </span><span id="amount" class="title-data"></span>
            <span class="title-text"> <%= fiat_symbol %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Variation: </span>
            <span id="variation" class="title-data"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span id="sizeup" class="sizeup">A</span>&nbsp;<span id="sizedown" class="sizedown">A</span>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="title-text" id="date"></span>
        </div>

        <table id="cryptos" class="styled-table">
            <thead>
            <th class="title-left clickable" onclick="sortTable('name')">Crypto</th>
            <th class="title-left clickable" onclick="sortTable('symbol')">Symbol</th>
            <th class="num clickable" onclick="sortTable('start_price')">Price <%= fiat_symbol %> purchase</th>
            <th class="num clickable" onclick="sortTable('start_price_usdt')">Price USDT purchase</th>
            <th class="num clickable" onclick="sortTable('quotation')">Quotation <%= fiat_symbol %></th>
            <th class="num clickable" onclick="sortTable('quotation_usdt')">Quotation USDT</th>
            <th class="num clickable" onclick="sortTable('tokens')">Tokens</th>
            <th class="num clickable" onclick="sortTable('value')">Value <%= fiat_symbol %></th>
            <th class="clickable" onclick="sortTable('variation')">Evol./puchase</th>
            <th class="clickable" onclick="sortTable('variation_on_five_minutes')">Evol./5mn</th>
            <th class="clickable" onclick="sortTable('variation_on_one_hour')">Evol./1h</th>
            <th class="clickable" onclick="sortTable('variation_on_one_day')">Evol./24h</th>
            <th class="clickable" onclick="sortTable('variation_on_one_week')">Evol./week</th>
            <th class="clickable" onclick="sortTable('wallet')">Wallet</th>
            <th class="clickable generalAlert"></th>
            <th></th>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div class="sub-container cont-border alerts">
        <div class="title-alerts one_token">Alert for the token <span id="alert_token"></span></div>
        <div class="title-alerts all_token">Alert for all tokens</div>
        <div class="text">
            <span>Send an alert if the token price changes :</span>
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_5mn">% or lost<input
                    class="percent" type="number" id="alert_lt_5mn">% in 5 minutes.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_1h">% or lost<input
                    class="percent" type="number" id="alert_lt_1h">% in 1 hour.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_24h">% or lost<input
                    class="percent" type="number" id="alert_lt_24h">% in 1 day.
        </div>
        <div class="input">
            exceeded <input class="percent" type="number" id="alert_gt_1w">% or lost<input
                    class="percent" type="number" id="alert_lt_1w">% in 1 week.
        </div>
        <div class="text-mini">
            <span><i>Leave fields not to be taken into account blank</i></span>
        </div>
        <div class="button-bloc">
            <div>
                <input type="button" class="button" id="alertDel" onclick="delAlert();return false;" value="Remove">
            </div>
            <div>
                <input type="button" class="button" id="alertCancel" onclick="cancelAlert();return false;"
                       value="Cancel">
            </div>
            <div>
                <input type="button" class="button" id="alertAdd" onclick="addOrUpdateAlert();return false;"
                       value="Save">
            </div>
        </div>
        <div class="text-mini">
            An alert on a particular token takes precedence over a global alert.
        </div>

    </div>
</div>
</body>

<script src="/javascripts/evolution.js"></script>

<script type="text/javascript">

    let ds = "<%= decimal_separator %>";
    let refresh = "<%= refresh %>";
    let titleGenAlert1 = "View or change global alert";
    let titleGenAlert2 = "Put a global alert";
    let titleBuildAlert1 = "View or change alert on";
    let titleBuildAlert2 = "Put an alert on";
    let infoICO = "ICO or not yet listed or not declared in the Cryptos tab";

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('en-EN');
    }

    $(() => {
        init()
    })
</script>

</html>

