<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <script src="/javascripts/jquery-3.7.1.min.js"></script>
    <script src="/javascripts/utils.js"></script>
    <link rel='stylesheet' id="theme" href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/portfolio.css'/>
</head>
<body>


<div class="container">

    <div w3-include-html="/html/en/header.html"></div>
    <div class="title">
        Balance: <span id="balance"></span>&nbsp;<%= fiat_symbol %>&nbsp;&nbsp;&nbsp;<span id="date"></span>
    </div>
    <div id="container" class="sub-container">

        <div class="col1">
            <table id="cryptosPerWallet" class="styled-table">
                <thead>
                <th>Wallet</th>
                <th>Token</th>
                <th class="num"># tokens</th>
                <th class="num">Value <%= fiat_symbol %></th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="col2">
            <table id="cryptosPerToken" class="styled-table">
                <thead>
                <th></th>
                <th class="clickable" onclick="sortTable('token')">Token</th>
                <th>Wallet(s)</th>
                <th class="num clickable" onclick="sortTable('nb')"># tokens</th>
                <th class="num clickable" onclick="sortTable('value')">Value <%= fiat_symbol %></th>
                <th class="num clickable" onclick="sortTable('invest')">Invest. <%= fiat_symbol %></th>
                <th class="num clickable" onclick="sortTable('roi')">ROI <%= fiat_symbol %></th>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

<script src="/javascripts/portfolio.js"></script>

<script>

    let ds = "<%= decimal_separator %>";
    let refresh = "<%= refresh %>";

    let setDate = () => {
        document.getElementById('date').innerHTML = getFormattedDate('en-EN');
    }

    $(() => {
        init()
    })

</script>
</body>
</html>